.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper ul {
  list-style: none;
  display: flex;
  border-top: 1px solid var(--grey);
  gap: 0.3rem;
}

.wrapper button {
  background: none;
  border: 0;
  outline: 0;
}

.wrapper li.active {
  border-top: 2px solid var(--greenFore);
  color: var(--greenFore);
}

.wrapper li {
  border-top: 2px solid transparent;
  transform: translateY(-1px);
  padding: 0.4rem 1rem;
  font-weight: 800;
  color: var(--grey);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: .1s ease-in-out;
  cursor: pointer;
  font-size: 18px;
}

.wrapper li:hover {
  background-color: var(--greyshGreen);
}

.description {
  width: 80%;
  padding: 1rem 0.5rem;
}