.wrapper {
  display: flex;
  gap: clamp(0.8rem, 1.2vw, 1.5rem);
}

.counter {
  display: flex;
  align-items: center;
  border: 1px solid var(--placeholderColor);
  border-radius: 0.25rem;
}

.counter span {
  padding-inline: clamp(0.4rem, 1.4vw, 0.7rem);
  color: var(--black);
  font-size: clamp(13px, 2vw, 15px);
}

.counter button {
  font-size: clamp(14px, 2vw, 17px);
  padding-inline: clamp(0.5rem, 1.4vw, 0.8rem);
  height: 100%;
  background: none;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: .1s ease-in-out;
  color: var(--black);
}


.counter button:hover {
  background-color: var(--greyshGreen);
}
