.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1.5rem, 3vw, 4rem);
  margin: 1rem 0 2.5rem;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(0.4rem, 1vw, 1rem);
}

.wrapper h2 {
  color: var(--greenFore);
  font-size: clamp(28px, 2.8vw, 36px);
}


.price {
  font-size: clamp(20px, 2.4vw, 24px);
  color: var(--darkGrey);
  font-weight: 800;
}

.oldPrice {
  color: var(--grey);
  text-decoration: line-through;
  font-weight: 500;
  color: var(--red);
  margin-left: 0.4rem;
  font-size: clamp(14px, 2.3vw, 16px);
}

/* product properties */
.wrapper table tbody tr th {
  text-align: start;
}

.wrapper table tbody tr th:nth-of-type(1) {
  font-weight: 500;
  color: var(--black);
  padding-block: 0.05rem;
}

.wrapper table tbody tr th:nth-of-type(2) {
  padding-inline-start: 1rem;
}

.wrapper th a {
  color: var(--green);
  font-weight: 400;
  opacity: 0.85;
  transition: var(--textHoverTransition);
}

.wrapper th a:hover {
  opacity: 1;
}

/* Shipping information */
.shippingWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.shippingWrapper p {
  font-weight: 800;
  color: var(--darkGrey);
  font-size: 18px;
  margin-bottom: 0.4rem;
}

.shippingWrapper span {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--black);
}

.icon {
  --size: 18px;
  width: var(--size);
  height: var(--size);
  fill: var(--green);
}

@media (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
}