.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 1rem;
}

.storeWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}