.wrapper {
  display: grid;
  grid-template-columns: 0.65fr 1.5fr;
  column-gap: 1.5rem;
  margin: 2rem auto;
  width: 90%;
  border-bottom: var(--greyBorder);
  background-color: rgb(152, 175, 152);
  padding: 1rem;
}

.imgWrapper {
  height: 370px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  border: 1px solid var(--green);
}

.desc {
  height: 100%;
  padding: 0.8rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.desc h2 {
  border-bottom: 1px solid var(--green);
}

.desc p {
  color: var(--foreDark);
}

.desc span {
  margin-top: auto;
  align-self: flex-end;
  color: var(--foreDark);
  font-weight: bold;
}

.desc a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: 0;
  color: var(--green);
  font-weight: bold;
  opacity: 0.8;
  transition: .2s ease-in-out;
}

.desc a svg {
  transition: .2s ease-in-out;
  transform: translateY(1px);
}

.desc a:hover {
  opacity: 1;
}

.desc a:hover svg {
  transform: translateX(4px) translateY(1px);
}