.wrapper {
  display: flex;
  gap: clamp(0.8rem, 2vw, 2rem);
  position: relative;
}

.avatarWrapper {
  --size: clamp(100px, 5vw, 150px);
  width: var(--size);
  height: var(--size);
  border: 0.5rem solid var(--placeholderColor);
  border-radius: 50%;
  overflow: hidden;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .text span {
  font-size: clamp(20px, 3.4vw, 24px);
  font-weight: 800;
  color: var(--greenFore);
  text-transform: capitalize;
}

.wrapper .text p {
  font-size: clamp(14px, 2.4vw, 16px);
  font-weight: 500;
  color: var(--grey);
}

.wrapper form {
  position: absolute;
}