/* -=- Profile Page Content -=- */

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

/* -=- Profile Page Navigation -=- */
.wrapper aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper aside span {
  font-weight: 600;
}

.wrapper aside ul {
  list-style: none;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--grey);
}

.wrapper aside ul li {
  font-weight: 400;
}

/* -=- Profile Page Card -=- */

.wrapper section {
  padding: 2.5rem 5rem;
  box-shadow: var(--cardShadow);
  flex-grow: 1;
}

.wrapper section h3 {
  color: var(--greenFore);
}