/* -=- Contact Form -=- */

form.wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1.5vw, 2rem);
}

form.wrapper * {
  transition: .15s ease-in-out;
}

.wrapper .textInputs {
  display: flex;
  gap: clamp(0.8rem, 1.3vw, 1rem);
}

.wrapper button {
  align-self: flex-end;
}

form.loading * {
  opacity: 0.7;
  pointer-events: none;
}

@media (max-width: 1050px) {

  .wrapper .textInputs {
    flex-direction: column;
  }

}