.btn {
  font-size: 15px;
  color: var(--bodyBg);
  background-color: var(--greenBg);
  padding: 0.8rem 2.5rem;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  transition: .15s ease-in;
}

.btn.light {
  background-color: var(--bodyBg);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  color: var(--greenBg);
  font-weight: 500;
}

.btn:disabled {
  color: var(--bodyBg);
  background-color: var(--grey);
  cursor: not-allowed;
}