.wrapper {
  padding: 0.5rem 2rem 3rem;
  background-color: var(--wheatTransparent);
  width: 85%;
}

.wrapper h1 {
  color: var(--bloodyRed);
  font-weight: 500;
  border-bottom: 1px solid var(--bloodyRed);
}