.wrapper {
  padding: 0 0 0.6rem;
  border-bottom: 1px solid var(--bloodyRed);
}

.wrapper h2 {
  font-weight: 500;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}


.rating {
  font-weight: 600;
}