/* CSS File used to override Antd styles s*/

:where(.css-dev-only-do-not-override-j9bb5n).ant-slider-horizontal,
.ant-slider-horizontal {
  padding-block: 4px;
  height: 12px;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-slider,
.ant-slider {
  box-sizing: border-box;
  margin: 11px 5px;
}

.ant-slider-horizontal .ant-slider-rail {
  width: 100%;
  height: 4px;
  border-radius: 1rem;
}

:where(.css-dev-only-do-not-override-1ld61w1).ant-slider .ant-slider-handle::after {
  background-color: var(--bodyBg);
}

.ant-slider:hover .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #1b3c35;
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-select-multiple .ant-select-selection-placeholder,
.ant-select-multiple .ant-select-selection-placeholder {
  position: absolute;
  top: 50%;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  transform: translateY(-50%);
  transition: all 0.3s;
}