.mainWrapper {
  width: 100%;
  background-color: var(--green);
  --color: #98b6af42;
  background: linear-gradient(var(--color), var(--color)), url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;
  flex: 1;
}

main.mainContent {
  background-color: #ffffffc1;
  padding: 2rem 2.5rem;
  width: 90%;
  border-radius: 4px;
  flex-grow: 1;
}