footer.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  padding: 0.7rem 2rem;
  background-color: var(--green);
  color: var(--fore);
  font-size: 14px;
}

section.links {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

section.links:not(:nth-child(1)){
  text-transform: capitalize;
}

section.links span {
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  color: var(--fore)
}

.contactLine {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  fill: #aeaeae;
}

.contactLine:hover {
  fill: var(--fore);
}

.icon {
  --iconSize: 14px;
  width: var(--iconSize);
  height: var(--iconSize);
  cursor: pointer;
  transform: translateY(-1px);
  fill: inherit;
  transition: .15s ease-in-out;
}

section.links a {
  font-size: 12px;
  text-decoration: none;
  color: #aeaeae;
  transition: .15s ease-in-out;
}

section.links a:hover {
  color: var(--fore);
}
