/* Header */

header.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--green);
  color: var(--fore);
  /* position: sticky;
  top: 0; */
}

nav.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav.links a {
  text-decoration: none;
  color: inherit;
  transition: .2s ease-in;
  margin-inline: 0.3rem;
}

nav.links a:hover {
  color: var(--foreHover);
}

.cartIcon {
  --cartSize: 22px;
  width: var(--cartSize);
  height: var(--cartSize);
}

.profileIcon {
  --cartSize: 27px;
  width: var(--cartSize);
  height: var(--cartSize);
}
