.wrapper {
  background-color: var(--fore);
  color: var(--greenFore);
  font-weight: 800;
  padding: 0.3rem 0.4rem;
  border-radius: 7px;
}

:root[data-theme='dark'] .wrapper{
  background-color: #f4f4f4;
}

.wrapper:hover {
  background-color: var(--foreHover);
}