/* CSS file used to override antd default design */

.select-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.select-input-wrapper * {
  transition: .2s ease-in-out !important; 
}

.select-input-wrapper label {
  font-weight: 400;
  font-size: 15px;
  margin-inline-start: 0.2rem;
  color: var(--grey);
}

.select-input-wrapper .ant-select {
  flex-grow: 1;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  outline: 0;
  background-color: var(--greyshGreen);
  border: 1px solid var(--greyshGreen);
  overflow: hidden;
  position: relative;
  transition: .2s ease-in-out !important;
}

:root[data-theme='dark'] .select-input-wrapper .ant-select {
  background-color: transparent;
}

.select-input-wrapper .ant-select:hover,
.ant-select-open {
  border: 1px solid var(--greenBg) !important;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background: transparent;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 500;
  border: none;
  display: flex;
  align-items: center;
  border-color: transparent;
  transition: .2s ease-in-out !important;
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: transparent;
  box-shadow: none;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
  position: absolute;
  top: 0;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  bottom: 0;
}

.ant-select .ant-select-arrow {
  position: absolute;
  top: 50%;
  inset-inline-start: auto;
  inset-inline-end: 11px;
  margin-top: -6px;
  font-size: 12px;
  color: var(--placeholderColor);
}

.ant-select-selection-placeholder {
  color: var(--placeholderColor) !important;
  font-weight: 500 !important;
}

.ant-select-selection-item>span {
  color: var(--black);
  font-weight: 500 !important;
}

/* dropdown */
:where(.css-dev-only-do-not-override-j9bb5n).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  background-color: #e9efebae;
}

/* invalid value */
.select-input-wrapper.invalid {
  color: var(--red);
}

.select-input-wrapper.invalid label{
  color: var(--red);
}
.select-input-wrapper.shaking {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

.select-input-wrapper.invalid .ant-select,
.select-input-wrapper.invalid .ant-select:hover {
  /* background-color: #ffdddd; */
  border: 1px solid var(--red) !important;
}