.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid var(--greenBg);
}

.title {
  display: flex;
  justify-content: space-between;
  text-shadow: var(--shadow);
}

.title span {
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: 500;
}

.title .controls {
  display: flex;
  gap: 1rem;
}

.title .controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 46px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: var(--greenBg);
  cursor: pointer;
  box-shadow: var(--shadow);
}

.title .controls button:nth-of-type(2) img {
  rotate: 180deg;
}

/* carousel styling */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  padding-block: 0.5rem;
}

.embla__container > div {
  flex: 0 0 20%;
  min-width: 0;
  padding-inline: 0.5rem;
}

.btn {
  margin-block: 2rem;
  align-self: center;
}