/* Header */

header.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--green);
  color: var(--fore);
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
}

nav.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav.links a {
  text-decoration: none;
  color: inherit;
  transition: .2s ease-in;
}

nav.links a:hover {
  color: var(--foreHover);
}

.wrapper svg.cartIcon {
  --cartSize: 20px;
  width: var(--cartSize);
  height: var(--cartSize);
  cursor: pointer;
  transition: .2s ease-in;
}

nav.links svg:hover {
  fill: var(--foreHover);
}