.wrapper {
  display: flex;
  border-radius: 5rem;
  overflow: hidden;
  border: 1px solid transparent;
}

.wrapper:has(input:focus) {
  border: 1px solid var(--green);
}

.wrapper input {
  width: 200px;
  line-height: 2rem;
  border: none;
  outline: none;
  padding-inline-start: 0.8rem;
}

.wrapper button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 0.6rem;
  background-color: var(--green);
}

.searchIcon {
  width: 16px;
  height: 16px;
  fill: var(--fore);
}
