/* -=- Custom Password Input -=- */

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  transition: .2s ease-in-out;
}

.wrapper label {
  font-weight: 400;
  font-size: 15px;
  margin-inline-start: 0.2rem;
}

.passwordWrapper {
  display: flex;
  align-items: center;
  padding-inline-end: 0.7rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border: 1px solid var(--greyshGreen);
  border-radius: 0.25rem;
  background-color: var(--greyshGreen);
  transition: .2s ease-in-out;
}


.passwordWrapper:hover,
.passwordWrapper:has(input:focus) {
  border: 1px solid var(--greenBg);
}


.passwordWrapper input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: var(--black);
  transition: .2s ease-in-out;
  background-color: none;
  box-shadow: none;
}

.passwordWrapper input::placeholder {
  color: var(--placeholderColor);
}

.wrapppasswordWrapperer input:-webkit-autofill,
.passwordWrapper input:-webkit-autofill:hover,
.passwordWrapper input:-webkit-autofill:focus,
.passwordWrapper input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.eye {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
}

.wrapper.invalid {
  color: var(--red);
}

.invalid.shaking {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-3px);
  }

  50% {
    transform: translateX(3px);
  }

  75% {
    transform: translateX(-3px);
  }

  100% {
    transform: translateX(0);
  }
}

.wrapper.invalid .passwordWrapper,
.wrapper.invalid .passwordWrapper:hover {
  /* background-color: #ffdddd; */
  border: 1px solid var(--red);
}