ul.wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

ul.wrapper li button {
  border: none;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block: 0.4rem;
  padding-inline-end: 0.2rem;
  border-radius: 0.25rem;
  transition: .1s ease-in;
  color: var(--black);
  cursor: pointer;
}

ul.wrapper button:hover {
  background-color: var(--greyshGreen);
}

.activeCategory {
  animation: selectScale .3s ease-in-out;
  background-color: var(--greyshGreen) !important;
}

@keyframes selectScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}

.activeCategory span:nth-of-type(1) {
  transform: translateX(7px);
}

ul.wrapper button span {
  transition: .3s ease-in-out;
}

ul.wrapper button:hover span:nth-of-type(1) {
  transform: translateX(10px);
}