.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1.5rem;
  position: relative;
}

.wrapper>span {
  position: absolute;
  font-size: 34px;
  color: var(--placeholderColor);
  font-weight: 600;
}