.wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: clamp(0.5rem, 1.4vw, 1rem);
  row-gap: clamp(0.8rem, 1.7vw, 1.5rem);
  position: relative;
}

.wrapper>span {
  position: absolute;
  font-size: 34px;
  color: var(--placeholderColor);
  font-weight: 600;
}

@media (max-width:1200px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width:760px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width:520px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}