.wrapper {
  --columnGap: 4rem;
  display: flex;
  column-gap: var(--columnGap);
  position: relative;
}

.wrapper>div:nth-of-type(2) {
  position: relative;
}

.wrapper>div:nth-of-type(2):after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background-color: var(--greyshGreen);
  left: 0;
  transform: translateX(calc(var(--columnGap)/-2));
}

.store {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
