.wrapper {
  --columnGap: 4rem;
  display: grid;
  column-gap: var(--columnGap);
  grid-template-columns: 320px 1fr;
}

.wrapper>div:nth-of-type(1) {
  position: relative;
}

.wrapper>div:nth-of-type(1):after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background-color: var(--greyshGreen);
  right: 0;
  transform: translateX(calc(var(--columnGap)/2));
}

.store {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}