.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* -=- Cart List -=- */
.cartList, 
.cartList tbody {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cartList tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--cardShadow);
  padding: 1.5rem 2.5rem;
  border-radius: 0.25rem;
}

.cartList th,
.cartList td {
  flex: 1.5;   
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
}

.cartList th:nth-last-of-type(1),
.cartList td:nth-last-of-type(1) {
  justify-content: flex-end;
  flex: 0.9;  
}

.cartList th:nth-of-type(1),
.cartList td:nth-of-type(1) {
  justify-content: flex-start;
  flex: 0.9;  
}

.cartList th {
  font-weight: 600;
}

/* -=- Buttons -=- */
.buttons {
  display: flex;
  justify-content: space-between;
}