/* -=- Header appearence on home route -=- */

.banner {
  min-height: 100vh;
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url('../../../public/images/banner.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s ease-in,
}

.banner * {
  color: var(--fore);
}

:root[data-theme='dark'] .banner {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../../../public/images/banner.jpg');
}

.banner .bannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  max-width: 820px;
  text-align: center;
  flex: 0.8;
  text-shadow: var(--shadow);
}

.banner .bannerText p {
  font-size: clamp(11px, 2.2vw, 16px);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner .bannerText span {
  font-size: clamp(32px,6vw, 72px);
  text-transform: capitalize;
  font-weight: 400;
  margin-inline: 1rem;
}

/* Header appearence on other routes */
.wrapper * {
  color: var(--greenFore);
}

/* On auth segments make font white */
.lightFont * {
  color: var(--fore);
}

.wrapper .bannerText {
  display: none;
}

/* -=- Head -=- */

.head {
  background-color: var(--greenBg);
  width: 100%;
}

.head section {
  display: flex;
  justify-content: center;
  font-size: clamp(9px, 2.2vw, 13px);
  padding-block: 0.3rem;
}

.head section * {
  color: var(--fore);
}

/* -=- Navigation Bar -=- */

.navWrapper {
  display: flex;
  justify-content: space-between;
  --headerGap: 0.6rem;
  gap: var(--headerGap);
  align-items: center;
  padding-block: 0.8rem;
}

.navWrapper h1 {
  font-size: clamp(28px, 5.1vw, 40px);
  cursor: pointer;
}

.navWrapper .textLink:hover,
.navWrapper button:hover {
  color: var(--foreHover);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--headerGap);
}

.icons {
  display: flex;
  gap: var(--headerGap);
}

@media (max-width: 870px) {

  .actions {
    flex-direction: row-reverse;
  }
}


@media (max-width: 520px) {
  .banner .bannerText span {
    margin-inline: 1rem;
  }
}