.toggle {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	--size: 26px;
	width: var(--size);
	height: var(--size);
	margin: 0;
	background-color: transparent;
	border: none;
}

.toggle svg {
	display: block;
	position: relative;
	fill: var(--greenFore);
	transition: .2s ease-in-out;
}

.toggle.light svg {
	fill: var(--fore);
}