.wrapper {
  position: relative;
}

.dropDown {
  position: absolute;
  right: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding: 1rem 1.3rem;
  background-color: aliceblue;
  color: black;
  font-size: 14px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.4rem;
}

.show {
  display: flex;
}

.dropDown li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-wrap: nowrap;
  gap: 1rem;
}

.dropDown svg {
  width: 18px;
  height: 18px;
}

.dropDown li:nth-of-type(3) svg {
  transform: translateX(-1px);
}