/* -=- Override Ant App style -=- */

/* App */
.ant-app {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: "Nunito", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  box-shadow: none !important;
}

/* Modal */
.ant-modal-content {
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.ant-modal-footer {
  margin: 0 !important;
}