/* -=- Override Ant App style -=- */

/* App */
.ant-app {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: "Nunito", sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  box-shadow: none !important;
}

/* Modal */
.ant-modal-body {
  height: fit-content !important;
  display: flex;
  gap: 0;
  border-radius: 0.3rem;
  background-color: transparent;
}

.ant-modal-content {
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content !important;
  margin: 0 auto !important;
  background-color: transparent !important;
}

.ant-modal-footer {
  margin: 0 !important;
}

/* Steps */
:root[data-theme='dark'] .ant-steps * {
  color: var(--black) !important;
}


:where(.css-dev-only-do-not-override-6688ir).ant-steps .ant-steps-item-finish .ant-steps-item-icon,
.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: var(--greyshGreen) !important;
  border-color: var(--greyshGreen) !important;
}

:root[data-theme='dark']:where(.css-dev-only-do-not-override-6688ir).ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title,
:root[data-theme='dark'] .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: var(--fore) !important;
}

.ant-steps svg {
  fill: var(--green) !important;
}