@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* General */
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

.wrapper {
  margin: 0;
  padding: 0;
  background-color: #f1faee;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

:root {
  --green: #1b3c35;
  --fore: #ebebeb;
  --foreHover: #cacaca;
  --wheatTransparent: #f4f1dec7;
  --bloodyRed: #540b0e;
}

/* Content */

main {
  width: 100%;
  background-color: var(--green);
  --color: #98b6af42;
  background: linear-gradient(var(--color), var(--color)), url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;
  flex: 1;
}

main::-webkit-scrollbar {
  width: 10px;
}

main::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

main::-webkit-scrollbar-thumb:hover {
  background: var(--green); 
}