@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -=- Reset Default Styling -=- */
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bodyBg);
  position: relative;
}

/* -=- Override Ant App style -=- */

.ant-app {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: "Nunito", sans-serif;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  box-shadow: none !important;
}

/* -=- Color Palletes -=- */
:root {
  /* 1b3c35 004F44 */
  --greenBg: #1b3c35;
  --greenFore: #1b3c35;
  --greyshGreen: #dce1de;
  --red: #db4444;
  --bodyBg: #F7F8FA;
  --black: #272727;
  --grey: #808080;
  --placeholderColor: #9ca09d;

  --fore: #f0f0f0;
  --foreHover: #cacaca;
  --foreDark: #4d4d4d;

  --greyBorder: 1px solid #b6b6b6;
  --contentBackground: #ffffffc1;
  --boxShadow: #8a8a8a;
}

/* -=- Global Variable Properties -=- */
:root {
  --shadow: 0 2px 3px #0000005e;
  --cardShadow: 0 1px 6px 0px #0002;
  --textHoverTransition: .2s ease-in;
}

::selection {
  background-color: rgb(61, 127, 97);
  color: #fff;
}

/* -=- global classes -=- */
.gl-max-width {
  width: min(100%, 1380px);
  margin: 0 auto;
  padding-inline: 1rem;
}


/* -=- Headers -=- */
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

#e9efebaa h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* -=- Horizontal Line -=- */
hr {
  width: 100%;
  height: 1px;
  background-color: var(--greenBg);
  border: none;
}