@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* reset default styling */
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

/* theme color palletes */
:root[data-theme='light'] {
  --greenBg: #1b3c35;
  --greenFore: #1b3c35;
  
  --fore: #f0f0f0;
  --foreHover: #cacaca;
  --foreDark: #4d4d4d;
  --wheatTransparent: #f4f1dec7;
  --bloodyRed: #540b0e;
  --red: #db4444;

  --greyBorder: 1px solid #b6b6b6;
  --contentBackground: #ffffffc1;
  --boxShadow: #8a8a8a;
  
}

:root[data-theme='dark'] {

  --greenBg: #202020;
  --greenFore: #858585;
  --contentBackground: #060708aa;
  --boxShadow: #383838;
}

/* gloabl properties */
:root {
  --shadow: 0 2px 3px #0000005e;
}

::selection {
  background-color: #4c6258;
  color: #fff;
}

/* global classes */
.gl-max-width {
  width: min(100%, 1380px);
  margin: 0 auto;
  padding-inline: 1rem;
}


/* HEADERS */

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
  color: var(--green);
}
