@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* -=- Reset Default Styling -=- */
* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--body);
  position: relative;
  transition: background-color .15s ease-in-out;
}

body * {
  transition: color .2s ease-in, background-color .2s ease-in;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* -=- Radio Input -=- */
input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Create a custom radio button */
input[type="radio"]+span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--black);
  cursor: pointer;
  position: relative;
  transition: .15s ease-in;
}

/* Custom radio button checked state */
input[type="radio"]:checked+span {
  border-color: var(--greenFore);
  background-color: var(--greenFore);
  transition: 0;
}

/* Inner circle for checked state */
input[type="radio"]:checked+span::before {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--bodyBg);
  position: absolute;
  top: 4px;
  left: 4px;
}

/* -=- Color Palletes -=- */
:root {
  /* 1b3c35 004F44 */
  --greenBg: #1b3c35;
  --greenFore: #1b3c35;
  --green: #1b3c35;
  --greyshGreen: #dce1de;
  --red: #db4444;
  --bodyBg: #F7F8FA;
  --body: #F7F8FA;
  --black: #272727;
  --grey: #808080;
  --darkGrey: #5a5a5a;
  --placeholderColor: #9ca09d;
  --formOverlay: rgba(93, 93, 93, 0.349);

  --fore: #f0f0f0;
  --foreHover: #cacaca;
  --foreDark: #4d4d4d;

  --greyBorder: 1px solid #b6b6b6;
  --contentBackground: #ffffffc1;
  --boxShadow: #8a8a8a;
}

:root[data-theme='dark'] {
  --greenBg: #1E1E1E;
  --greenFore: #9a9a9a;
  --green: #26a778;
  --greyshGreen: #4e4e4e;
  --formOverlay: rgba(78, 78, 78, 0.286);
  --placeholderColor: #878787;

  --red: #db4444;
  --bodyBg: #1E1E1E;
  --body: #121212;
  --contentBackground: #2A2A2A;
  --black: #bfbfbf;
  --grey: #CCCCCC;
  --darkGrey: #AAAAAA;
  --fore: #CCCCCC;
  --foreHover: #A6A6A6;
  --foreDark: #333333;

  /* Border and Shadow */
  --greyBorder: 1px solid #444444;
  --boxShadow: #444444;
}

/* -=- Global Variable Properties -=- */
:root {
  --shadow: 0 2px 3px #0000005e;
  --cardShadow: 0 1px 6px 0px #0002;
  --textHoverTransition: .2s ease-in;
}

:root[data-theme='dark'] {
  --shadow: 0 2px 3px #0000005e;
  --cardShadow: 0 1px 6px 0px #0002;
}


::selection {
  background-color: rgb(50, 103, 80);
  color: #fff;
}

/* -=- global classes -=- */
.gl-max-width {
  width: min(100%, 1380px);
  margin: 0 auto;
  padding-inline: min(2.7vw, 1rem);
}


/* -=- Headers -=- */
h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* -=- Horizontal Line -=- */
hr {
  width: 100%;
  height: 1px;
  background-color: var(--greenBg);
  border: none;
  border-radius: 1rem;
}

hr.light {
  background-color: var(--placeholderColor);
}