.wrapper {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
}

.wrapper h2 {
  padding-bottom: 1rem;
  color: var(--greenFore);
}

.wrapper h2:nth-of-type(2) {
  border-left: var(--greyBorder);
  padding-left: 1.5rem;
}

.contactStatic {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: var(--greyBorder);
  padding: 0.8rem 0;
  padding-left: 1.5rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contactItemText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contactItemText > span:nth-of-type(1) {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--greenFore);
}

/* style all spans except first one*/
.contactItemText > span:not(:nth-of-type(1)) {
  line-height: 1.1rem;
  color: var(--foreDark);
  font-weight: 500;
}

svg.icon {
  width: 55px;
  height: 55px;
  background-color: var(--greenBg);
  fill: #f4f4f4;
  padding: 0.7rem;
  border-radius: 2rem;
  overflow: visible;
  opacity: 0.85;
}
